.Dashboard-Table::-webkit-scrollbar, .Dashboard-Box2-Chart::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #97979700; 
}
::-webkit-scrollbar-thumb {
  background: var(--Color6A);
  /* background: yellow; */
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  /* background: #1c1c1ca7;  */
  background: var(--Color6);
}







.Hide{
  display: none;
}

.tooltip {
  position: relative;
}

.Btn_1{
  border-radius: 4px;
}

.tooltip::before {
  content: attr(data-title);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.tooltip:hover::before {
  visibility: visible;
  opacity: 1;
}



/* ================================ */



.Admin-LoginPage{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.Admin-LoginDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
}
.Admin-LoginLogo img{
  height: 90px;
  margin-bottom: 15px;
}

.Admin-LoginPageForm{
  height: 370px;
  width: 500px;
  border-radius: 10px;
  border: 1px solid var(--BorderColor1);
  background-color: var(--BGColor4);
  border: var(--BorderColor1);
  box-shadow: -2px 5px 25px #00000017;
  padding: 40px;
  color: var(--Color1);
}






/* Admin */
.AdminDiv{
  height: 100vh;
  width: 100vw;
  display: flex;
  transition: 1s;
  /* overflow: hidden; */
}


.AdminSidebar{
  min-width: 250px;
  max-width: 250px;
  grid-area: ASB;
  border-right: 1px solid var(--BorderColor1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.AdminSidebarDiv1{
  padding: 10px;
  box-shadow: 0 0 2px #00000036;
  
  border-bottom: 1px solid var(--BorderColor1);
}
.AdminSidebarDiv1IMG{
  width: 100%;
}
.AdminSidebarDiv1IMG img{
  width: 100%;
}

.AdminSidebarDiv2{
  height: 100%;
  padding: 10px;
  overflow: auto;
}
.AdminSidebarDiv2 ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.AdminSidebarDiv2 ul li{
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}
.AdminSidebarDiv2 ul li svg{
  height: 35px;
}
.AdminSidebarDiv2 ul li:hover{
  background-color: var(--Color3);
  color: var(--Color1);
  fill: white;
  padding-left: 10px;
}


.Sidebar_Active{
  background-color: var(--Color4);
  color: var(--Color1);
  fill: white;
  padding-left: 10px;
}

.AdminSidebarDiv3{
  padding: 10px;
  box-shadow: 0 0 2px #00000036;
  border-top: 1px solid var(--BorderColor1);
}
.AdminSidebarDiv3 button{
  width: 100%;
}

.AdminMain{
  width: 100%;
  background-color: var(--BGColor2);
  display: flex;
  flex-direction: column;
  overflow: auto;
}


.AdminMainDiv{
  display: flex;
  flex-direction: column;
  background-color: var(--BGColor2);
  overflow: auto;
  height: 100%;
}
.DoctorsDiv, .AccountsDiv, .ActivityLogs, .ArchivesDiv, .DoctorsViewPanel{
  display: none;
}

.AdminDashboard-Header{
  height: 50px;
  width: 100%;
  align-items: center;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  background-color: var(--BGColor1);
  border-bottom: 1px solid var(--BorderColor1);
}

.AdminDashboard-Profile-Box{
  border-radius: 8px;
  border: 1px solid var(--BorderColor1);
  padding: 2px 8px;
  align-items: center;
  display: flex;
  gap: 10px;
}

.AdminDashboard-Profile-Box-Circle{
  height: 30px;
  border-radius: 50%;
  width: 30px;
  border: 1px solid var(--BorderColor1);
}

.AdminDashboard-Container{
  height: 93%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.AdminDashboard-Panel{
  display: flex;
  width: 100%;
  gap: 10px;
  height: 100%;
}

.AdminDashboard-Panel-Div{
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.Dashboard-Box1-Ch{
  height: fit-content;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  padding: 5px;
}

.Dashboard-Box-Total{
  line-height: 25px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--BGColor1);
  box-shadow: 0 2px 4px #00000029;
  border: 1px solid var(--BorderColor1);
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
}
.Dashboard-Box-Total:hover{
  scale: 115%;
  z-index: 1000;
}
.Dashboard-Box-Total:hover i{
  color: var(--Color4);
}
.Dashboard-Box-Total p{
  font-size: 12px;
  text-wrap: nowrap;
  margin-top: -5px;
}
.Dashboard-Box-Total h2{
  display: flex;
  align-items: center;
  gap: 10px;
}
.Dashboard-Box-Total h2 i{
  font-size: 20px;
  color: var(--Color3);
}


.Dashboard-Box2-Ch{
  background-color: var(--BGColor1);
  border: 1px solid var(--BorderColor1);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.Dashboard-Box2-Header{
  background-color: var(--BGColor1);
  padding: 5px 10px;
  display: flex;
  border-bottom: 1px solid var(--BorderColor1);
}

.Dashboard-Box2-Chart{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto  ;
  padding: 5px 10px;
}

#chart {
  width: 100%;
  min-height: 200px;
}

#chart2{
  width: 100%;
  min-height: 200px;
}

.AdminDashboard-Box2{
  max-width: 300px;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--BorderColor1);
  background-color: var(--BGColor1);
}

.Dashboard-Table{
  height: 100%;
  width: 100%;
  background-color: var(--BGColor1);
  border: 1px solid var(--BorderColor1);
  border-radius: 5px;
  box-shadow: 0 0 5px #0000004a;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.Dashboard-Table table{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.Dashboard-Table table tr td{
  font-size: 12px;
  width: 100%;
  text-align: left;
  padding: 5px 10px;
  border-top: 1px solid var(--BorderColor1);
}
.Dashboard-Table table tr{
  transition: 0.1s;
  cursor: pointer;
}
.Dashboard-Table table tr:hover{
  background-color: var(--Color4);
  color: var(--Color1);
}

.Dashboard-Table1{
  height: 200px;
  overflow: auto;
}

.Dashboard-Table1{
  min-height: 200px;
}
.Dashboard-Table2{
  height: 300px;
  overflow: auto;
}

.Dashboard-Table2{
  height: 100%;
}

.Dashboard-Table-Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--BGColor1);
  box-shadow: 0 2px 4px #00000036;
  padding:  0 5px;
}
.Dashboard-Table-Header p{
  font-size: 12px;
  cursor: pointer;
}





/* ======== */
.MainDiv-Header{
  width: 100%;
  height: 50px;
  background-color: var(--Color1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: var(--Border1);
}

.MainDiv-Header-Right{
  display: flex;
  align-items: center;
  gap: 8px;
}

.MainDiv-Main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 10px;
}


@media only screen and (max-width: 600px) {

}